.app-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 90px;
  width: 180px;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.Dark-mode {
  background-color: black;
  color: #ffffff;
}

.Light-mode {
  background-color: #ffffff;
  color: black;
}

.heading {
  font-size: 18px;
}

.button {
  height: 20px;
  width: 28px;
  text-align: center;
  border: 2px solid white;
}
